@import '../__pages/_pages';
@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';

@import '../../blocks/headers-and-footers/__header/_header';
@import '../../blocks/headers-and-footers/__footer/_footer';
@import '../../blocks/form-elements/__buttons/_buttons';

@import '../../blocks/cards/__login-form/_login-form';

.sign-in {

  background-image: url('../../assets/images/registration/image-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__form-section {
    padding: 10.125rem 0;
    margin: 0 auto;
    max-width: 23.75rem;
  }
}