.like-buttons
	p.like-buttons__title like button 
	.like-buttons__box 
		button.like-button(type="button")
			span.like-button__icon.material-symbols-outlined favorite
			span.like-button__likes 2
		button.like-button(type="button")
			span.like-button__icon.material-symbols-outlined favorite
			span.like-button__likes 12