.input-default {
    margin-top: 0.3125rem;
    margin-bottom: 1rem;
}

.input-hover {
    margin-bottom: 0.8rem;
}

.input-masked-field {
    margin-bottom: 2.5rem;
}

.input-date-dropdown {
    margin-bottom: 2.55rem;
}

.input {
    max-width: 20rem;
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.7375rem;
        text-transform: uppercase;
    }

    &__subtitle {
        text-transform: uppercase;
        color: $darkShade50;
        font-size: 0.75rem;
        line-height: 0.7375rem;
    }

    &__box {
        margin: 0.3rem auto 0.5rem;
        font-size: 0.875rem;
        width: 100%;
        line-height: 2.625rem;
        padding: 0 2.375rem 0 0.875rem;
        border: 1px solid $darkShade25;
        border-radius: 0.25rem;
        color: $darkShade75;
    }
}