.subscription-field
	p.subscription-field__title Subscription text field
	.subscription-field__input-box
		input.subscription-field__input(type="email" name="subscription-text" placeholder="Email")
		button.subscription-field__input-button.material-symbols-outlined(type="submit") arrow_forward