mixin inputDefault
  .input-default
.input
  .input__header
    p.input__title Text Field
    p.input__subtitle Default
  input.input__box(type="email" name="email" placeholder="Email")

mixin inputHover
  .input-hover
    .input
      .input__header
        p.input__title Text Field
        p.input__subtitle Hover / Focus
      input.input__box(name="This is pretty awesome" placeholder="This is pretty awesome")

mixin inputMaskedField
  .input-masked-field
    .input
      .input__header
        p.input__title MASKED TEXT FIELD
      input.input__box.js-input__box--masked-field(name="Masked field" placeholder="ДД.ММ.ГГГГ")

mixin inputSubscriptionField
  .subscription-field
    p.subscription-field__title Subscription text field
    .subscription-field__input-box
      input.subscription-field__input(type="email" name="subscription-text" placeholder="Email")
      button.subscription-field__input-button.material-symbols-outlined(type="submit") arrow_forward