include __header/__header.pug
include __footer/__footer.pug

link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="headers-and-footers.css")
.headers-and-footers
  .headers-and-footers__logo
    a.logo(href="#")
      img.logo__image(src="../../assets/images/logo-colorless.svg" alt="logo-image")
  +createHeader
  +createFooter