link(rel="stylesheet" href="cards.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
include ../form-elements/__buttons/__buttons.pug
include ../form-elements/__dropdown/__dropdown__date.pug
include ../form-elements/__dropdown/__dropdown__guests.pug
include ../form-elements/__inputs/__inputs.pug
include ../form-elements/__radio-buttons/__radio-buttons.pug
include ../form-elements/__rate-button/__rate-button.pug
include ../form-elements/__toggle/__toggle.pug
include __image-slider/__image-slider.pug
include __datepicker/__datepicker.pug

-let images = {1: ["../../assets/images/room-1-slider.jpg", "Фото 1"], 2: ["../../assets/images/room-1-slider.jpg", "Фото 2"], 3: ["../../assets/images/room-1-slider.jpg", "Фото 3"], 4: ["../../assets/images/room-1-slider.jpg", "Фото 4"]}

.nav
  a.logo(href="#") 
    img(src="../../assets/images/logo-colorless.svg" alt="#")
.main   
  .main__firstColumn 
    .main__card 
      .room-search 
        .room-search__header
          p.room-search__title Найдём номера под ваши пожелания
        .room-search__calendar
          //- +createDateDropdown({1: ["field-date-from", "Прибытие", "ДД.ММ.ГГГГ"], 2: ["field-date-to", "Выезд", "19.08.2019"]})
          +createCalendar("date-picker-start", "date-picker-end")
          +dropdownGuests("Гости", false)
        .room-search__submit-button 
          +createProceedButton("Подобрать номер")

    .main__card 
      .registration-form 
        p.registration-form__title Регистрация аккаунта
        +inputDefault("text", "name", "Имя")
        +inputDefault("text", "surname", "Фамилия")
        +createRadioButton({1: ["gender", true, "Мужчина"], 2: ["gender", false, "Женшина"]}, title='')
        +inputMaskedField('Дата рождения', 'masked-field', "ДД.ММ.ГГГГ")
        +inputDefault("email", "email", "Email", "Данные для входа в сервис")
        +inputDefault("password", "password", "Пароль")
        +toggle({1: [false, "Получать спецпредложения"]})
        +createProceedButton("Перейти к оплате")
        .registration-form__box 
          p.registration-form__caption Уже есть аккаунт на Toxin 
          +createButton("Войти", "white", "purple", false)
  .main__secondColumn 
    .main__card 
      .booking-form
        .booking-form__header 
          .booking-form__room 
            span.booking-form__room--span №
            p.booking-form__room--number 888
            p.booking-form__room--luxe люкс
          .booking-form__price 
            p.booking-form__price--price 9 990₽
            p.booking-form__price--per-day в сутки
        .booking-form__arrival
          //- +createDateDropdown({1: ["date-picker-start", "Прибытие", "ДД.ММ.ГГГГ"], 2: ["date-picker-end", "Выезд", "19.08.2019"]})
          +createCalendar("date-picker-start", "date-picker-end")
        .booking-form__dropdown
          +dropdownGuests("Гости", false)
        .booking-form__calculations 
          .booking-form__total-per-days
            p.booking-form__total-per-days--multiplied 9 990₽ х 4 суток
            p.booking-form__total-per-days--result 39 960₽
          .booking-form__discounts 
            p.booking-form__service--name Сбор за услуги: скидка 2 179₽
            span.booking-form__service--ellipse
              span.booking-form__service--ellipse--info i
            p.booking-form__service--amount 0₽
          .booking-form__additional-services 
            p.booking-form__service--name Сбор за дополнительные услуги
            span.booking-form__service--ellipse
              span.booking-form__service--ellipse--info i
            p.booking-form__service--amount 300₽
          .booking-form__total
            p.booking-form__total--title Итого
            p.booking-form__total--dots
            p.booking-form__total--result 38 081₽
        .booking-form__submit-button
          +createProceedButton("Забронировать")

    .main__card 
      .login-form 
        p.login-form__header Войти
        +inputDefault("email", "email", "Email")
        +inputDefault("password", "password", "Пароль")
        //- .login-form__email 
        //-   input.input__box(type="email" name="email" placeholder="Email")
        //- .login-form__password 
        //-   input.input__box(name="password" placeholder="Пароль")
        .login-form__button
          +createProceedButton("Забронировать")
        .login-form__box
          p.login-form__caption Нет аккаунта на Toxin?
          +createButton("Создать", "white", "purple", false)

  .main__thirdColumn 
    .main__card 
      .date-dropdown 
        .date-dropdown__calendar 
          +createCalendar("date-picker-start", "date-picker-end", false)

    .main__card 
      .room-preview
        .room-preview__slider
          +createSlideshowContainer(images)
        .room-preview__description
          .room-preview__header
            .room-preview__room-number 
              p.room-preview__room-symbol №
              p.room-preview__room-value 888
              p.room-preview__room-luxe люкс
            .room-preview__room-cost
              span.room-preview__amount 9 990₽
              span.room-preview__per-day в сутки
          .room-preview__footer
            .room-preview__rating
              +rateButton(5)
            .room-preview__feedbacks 
              .room-preview__feedbacks-number 145
              .room-preview__feedbacks-text Отзывов
    .main__card
      .room-preview
        .room-preview__slider
          -let images2 = {1: ["../../assets/images/room-2-slider.jpg", "Фото 1"], 2: ["../../assets/images/room-2-slider.jpg", "Фото 2"], 3: ["../../assets/images/room-2-slider.jpg", "Фото 3"], 4: ["../../assets/images/room-2-slider.jpg", "Фото 4"]}
          +createSlideshowContainer(images2)
        .room-preview__description
          .room-preview__header
            .room-preview__room-number 
              p.room-preview__room-symbol №
              p.room-preview__room-value 888
              p.room-preview__room-luxe люкс
            .room-preview__room-cost
              span.room-preview__amount 9 990₽
              span.room-preview__per-day в сутки
          .room-preview__footer
            .room-preview__rating
              +rateButton(4, 1)
            .room-preview__feedbacks 
              .room-preview__feedbacks-number 65
              .room-preview__feedbacks-text Отзывов

script(src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous")
//- script(src="../../assets/libs/airpdatepicker/airdatepicker.js")
script(src="./__datepicker/__datepicker.js")
script(src="./__image-slider/__image-slider.js")
script(src="cards.js")
script(src="../../assets/libs/masked-field.js")