@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';
@import '../form-elements/__dropdown/_dropdown';
@import '../form-elements/__buttons/_buttons';
@import '../form-elements/__inputs/_inputs';
@import '../form-elements/__radio-buttons/_radio-buttons';
@import '../form-elements/__toggle/_toggle';
@import '../form-elements/__rate-button/_rate-button';
@import '../form-elements/__datepicker/_datepicker';
@import '__registration-form/_registration-form';
@import '__room-search/_room-search';
@import '__booking-form/_booking-form';
@import '__booking-room/_booking-room';
@import '__login-form/_login-form';
@import '__image-slider/_image-slider';
@import '__room-preview/_room-preview';


body {
  background: #e5e5e5;
}

.main {

  $root: &;

  display: grid;
  grid-template-columns: 1.02fr 1.08fr 1fr;
  max-width: 80%;
  padding: 1rem 8.7rem;

  &__card {
    margin-bottom: 2.45rem;
    background: #fff;
    border: 1px solid $darkShade25;
    box-shadow: 0 0 1.5rem $darkShade25;
    border-radius: 0.25rem;
    padding: 2.4rem 1.85rem 1.85rem 1.8rem;
  }

  &__calendarCard {
    margin-bottom: 2.6rem;
  }

  &__firstColumn {
    max-width: 23.75rem;
  }

  &__secondColumn {
    max-width: 23.75rem;
  }

  &__thirdColumn {
    max-width: 23.75rem;

    & #{$root}__card:nth-child(2) {
      max-width: 16.875rem;
      margin-bottom: 2.4rem;
      padding: 0;
    }

    & #{$root}__card:nth-child(3) {
      max-width: 16.875rem;
      margin-bottom: 2.4rem;
      padding: 0;
    }
  }

}

.nav {
  margin: 1.8rem auto 3.5rem;
  max-width: 99%;
  padding: 0 1.3rem;
}