link(rel="stylesheet" href="cards.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
include ../form-elements/__buttons/__buttons.pug
include ../form-elements/__datepicker/__datepicker.pug
include ../form-elements/__dropdown/__dropdown.pug
include ../form-elements/__inputs/__inputs.pug
include ../form-elements/__radio-buttons/__radio-buttons.pug
include ../form-elements/__rate-button/__rate-button.pug
include ../form-elements/__toggle/__toggle.pug
include __room-search/__room-search.pug
include __registration-form/__registration-form.pug
include __booking-form/__booking-form.pug
include __booking-room/__booking-room.pug
include __login-form/__login-form.pug
include __room-preview/__room-preview.pug
include __image-slider/__image-slider.pug

.nav
  a.logo(href="#") 
    img(src="../../assets/images/logo-colorless.svg" alt="#")
.main   
  .main__firstColumn 
    .main__card
      +createRoomSearchCard("Найдём номера под ваши пожелания")
    .main__card 
      +createRegistrationFormCard
  .main__secondColumn 
    .main__card
      +createBookingFormCard("888", "9 990", true)
    .main__card
      +createLoginFormCard
  .main__thirdColumn
    .main__calendarCard
      +createCalendar("date-picker-start", "date-picker-end", false, true)

    .main__card
      -let imagesFirst = [{src: "../../assets/images/room-1-slider.jpg", alt: "Фото 1"}, {src: "../../assets/images/room-2-slider.jpg", alt: "Фото 2"}, {src: "../../assets/images/room-3-slider.jpg", alt: "Фото 3"}, {src: "../../assets/images/room-4-slider.jpg", alt: "Фото 4"}]
      +createRoomPreview(imagesFirst)
    .main__card
      -let imagesSecond = [{src: "../../assets/images/room-2-slider.jpg", alt: "Фото 1"}, {src: "../../assets/images/room-4-slider.jpg", alt: "Фото 2"}, {src: "../../assets/images/room-1-slider.jpg", alt: "Фото 3"}, {src: "../../assets/images/room-3-slider.jpg", alt: "Фото 4"}]
      +createRoomPreview(imagesSecond)

script(src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous")
script(src="../../assets/libs/masked-field.js")
script(type="module" src="../../assets/libs/moment.js")
script(type="module" src="../form-elements/__datepicker/__datepicker.js")
script(src="../form-elements/__dropdown/__dropdown.js")
script(type="module" src="./__booking-form/__booking-form.js")
script(src="./__image-slider/__image-slider.js")
script(src="cards.js")