$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-family: Montserrat, Arial, sans-serif;
}

body {
  background: #e5e5e5;
}

nav {
  margin: 1.875rem auto 4.3rem;
  max-width: 99%;
  padding: 0 1.5rem;
}

.main {
  display: grid;
  max-width: 84%;
  margin: 0 auto;
  padding: 0 1.5rem;
  column-gap: 2.5rem;

  &__card {
    margin-bottom: 2.45rem;
  }

  &__firstColumn {
    max-width: 23.75rem;

    .room-search {
      background: #fff;
      border: 1px solid $darkShade25;
      box-shadow: 0 0 1.5rem $darkShade25;
      padding: 2.4rem 1.85rem 1.85rem 1.8rem;
      border-radius: 0.25rem;

      &__header {
        padding-bottom: 1.35rem;
      }

      &__title {
        color: $darkShade100;
        font-weight: 700;
        font-size: 1.5rem;
        // line-height: 1.8125rem;
      }

      &__calendar {
        padding-bottom: 1.05rem;

        .date-dropdown {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1.25rem;
          row-gap: 0.6rem;
        }
      }
      
      &__dropdown {
        padding-bottom: 2rem;
        
        &__box {
          position: relative;
          margin-top: 0.3125rem;
        }
      }
      
    //   &__submit-button {
        
    //   }
    }

    .dropdown {
      &__input {
        width: 100%;
        line-height: 2.625rem;
        padding: 0 2.375rem 0 0.875rem;
        border: 0.0625 solid $darkShade50;
        border-radius: 0.25rem;
        transition: border 0.25s ease-in-out;
        cursor: pointer;
      }

      &__button {
        position: relative;
        bottom: 2.2rem;
        left: 8.8rem;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}
