//- mixin createCheckboxItem(name, checked, caption)
//-   p.checkbox__title Checkbox Buttons
//- 	.checkbox
//- 		label.checkbox__label
//- 			input.checkbox__input(type="checkbox" name= name checked= checked)
//- 			span.checkbox__span= caption

//- .checkbox
//- 	p.checkbox__title Checkbox Buttons
//- 	ul.checkbox__list
//- 		+createCheckboxItem('smoke-allow', false, 'Можно курить')
//- 		+createCheckboxItem('pet-allow', true, 'Можно с питомцами ')
//- 		+createCheckboxItem('smoke-allow', true, 'Можно пригласить гостей (до 10 человек)')