.checkbox
	p.checkbox__title Checkbox Buttons
	ul.checkbox__list
		li.checkbox__item
			label.checkbox__label
				input.checkbox__input(type="checkbox" name="smoke-allow" checked="checked")
				span.checkbox__checkbox
				span.checkbox__subtitle Можно курить
		li.checkbox__item
			label.checkbox__label
				input.checkbox__input(type="checkbox" name="pet-allow" checked="checked")
				span.checkbox__checkbox
				span.checkbox__subtitle Можно с питомцами     
		li.checkbox__item
			label.checkbox__label
				input.checkbox__input(type="checkbox" name="guest-allow" checked="checked")
				span.checkbox__checkbox
				span.checkbox__subtitle Можно пригласить гостей (до 10 человек)