.checkbox {

  $root: &;
  margin-bottom: 0.7rem;
  width: 100%;
  max-width: 13.875rem;
  // min-height: 1.25rem;

  &__title {
    text-transform: uppercase;
    font-size: 0.75rem;
    @extend .bold;
    padding-bottom: 0.85rem;
    margin-bottom: 0.2rem;
  }

  &__item {
    font-size: .875rem;
    padding-bottom: 0.6rem;
    line-height: 1.125rem;
    color: $darkShade50;
  }

  &__span {
    vertical-align: middle;
    font-size: 0.875rem;
    color: $darkShade50;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1.25rem;
      height: 1.25rem;
      border: 0.063rem solid $darkShade25;
      box-sizing: border-box;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
    }
  }

  &__input {
    display: none;

    &:checked~#{$root}__span:before {
      content: '';
      border: 1px solid #BC9CFF;
      background-size: cover;
      background: url('../../assets/images/vector.svg') repeat 0 0;
    }
  }
}