mixin createCheckboxItem(title, array)
  .checkbox
    if (title != '')
      p.checkbox__title= title
    each value in array
      .checkbox__item
        label.checkbox__label
          input.checkbox__input(type="checkbox" name= value[0] checked= value[1])
          span.checkbox__span= value[2]

mixin createCheckboxExpandable(title, array, expanded)
  -let className = (expanded) ? 'expandable-checkbox_expanded' : ''
  .expandable-checkbox(class= className)
    .expandable-checkbox__header 
      p.expandable-checkbox__title= title
      button.expandable-checkbox__button(type="button")
        span.expandable-checkbox__icon.material-symbols-outlined
    ul.expandable-checkbox__list
      each value in array
        .checkbox
        label.checkbox__label
          input.checkbox__input(type="checkbox" name= value[0] checked= value[1])
          span.checkbox__span= value[2]