.toggle {
    max-width: 16.25rem;
    width: 100%;
    margin-bottom: 2.1rem;

    &__title {
      font-size: .75rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 0.9rem;
      line-height: .9375rem;
    }

    &__list {
      list-style: none;
    }

    &__item {
      font-size: .875rem;
      line-height: 1.5rem;
      padding-bottom: 0.6rem;
      cursor: pointer;
    }

    &__input {
      position: absolute;
      appearance: none;
    }

    &__checkbox {
      position: absolute;
      height: 1.25rem;
      width: 2.5rem;
      border: 0.0625rem solid $darkShade25;
      border-radius: 0.625rem;
      margin-top: 0.125rem;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.18rem;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 0.375rem;
        background: rgba(31, 32, 65, .25098);
        transition: transform .25s ease-in-out;
      }
    }

    &__subtitle {
      padding-left: 3.05rem;
    }
  }