.toggle
	p.toggle__title Toggle
	ul.toggle__list
		li.toggle__item
			input.toggle__input(type="checkbox" name="receive special offers" checked="checked")
			span.toggle__checkbox
			span.toggle__subtitle Получать спецпредложения
		li.toggle__item
			input.toggle__input(type="checkbox" name="receive special offers" checked="checked")
			span.toggle__checkbox
			span.toggle__subtitle Получать спецпредложения