mixin createDescription
	.description
		span.description__image.material-symbols-outlined insert_emoticon
		p.description__title Комфорт
		p.description__subtitle Шумопоглощающие стены
	.description
		span.description__image.material-symbols-outlined location_city
		p.description__title Удобство
		p.description__subtitle Окно в каждой из спален