* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #E5E5E5;
}

footer {
    background: #fff;
    box-shadow: 0 1rem 2rem 0 #1F2041 5%;

    /// footer__info block ///


    /// footer__nav block ///
    /// footer__nav_row block ///
}