header 
  link(rel="stylesheet", href="footer.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  script(src="https://kit.fontawesome.com/2d5d47aa65.js", crossorigin="anonymous")
.footer
  .footer__content 
    .footer__info 
      a.logo(href="#") 
        img(src="../../../assets/images/logo.svg", alt="logo")
      .footer__info__description
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__nav 
      .footer__nav-row
        p.footer__nav-title Навигация
        ul.footer__nav-list
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") О нас
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Новости
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Служба поддержки
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Услуги
      .footer__nav-row
        p.footer__nav-title О нас
        ul.footer__nav-list
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") О сервисе
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Наша команда
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Вакансии
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Инвесторы
      .footer__nav-row
        p.footer__nav-title Служба поддержки
        ul.footer__nav-list
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Соглашения
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Сообщества
          li.footer__nav-list-item
            a.footer__nav-list-item-link(href="#") Связь с нами
    form.footer__subscription-form(action="#") 
      p.footer__subscription-form-title Подписка
      p.footer__subscription-form-subtitle Получайте специальные предложения и новости сервиса
      .footer__input
        input.input(type="email", name="email", placeholder="Email")
        button.input__submit-button.material-symbols-outlined(type="submit")
  .footer__copyright
    p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
    ul.footer__copyright-links
      li.footer__copyright-links-item
        a.footer__copyright-link(href="https://twitter.com" target="_blank")
          i.fa-brands.fa-twitter
      li.footer__copyright-links-item
        a.footer__copyright-link(href="https://facebook.com" target="_blank")
          i.fa-brands.fa-square-facebook
      li.footer__copyright-links-item
        a.footer__copyright-link(href="https://instagram.com" target="_blank")
          i.fa-brands.fa-instagram
.footer-mobile
  .footer-mobile__logo-section
    a.logo(href="#")
      img(src="../../../assets/images/logo.svg", alt="logo")
  p.footer-mobile__copyright 
  ul.footer-mobile__list 
    li.footer-mobile__list-item
      a.footer__copyright-link(href="https://twitter.com" target="_blank") 
    li.footer-mobile__list-item
      a.footer__copyright-link(href="https://twitter.com" target="_blank") 
    li.footer-mobile__list-item
      a.footer__copyright-link(href="https://twitter.com" target="_blank") 



         
  