@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';

$boxSize: 4rem;

.nav {
    padding: 1.9rem 0.7rem;
    margin: 0 auto 2.3rem;
    max-width: 98%;
}

.main {
    margin: 0 auto;
    display: grid;
    max-width: 97%;
    grid-template-columns: 16.875rem 28rem;
    grid-column-gap: 39.5%;

    &__colors {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1.25rem;
        margin-left: 8.0625rem;
    }

    &__types {
        display: grid;
        align-content: start;
        grid-row-gap: 3rem;
    }
}

.color {

    display: grid;
    grid-template-areas: "box title" "box subtitle";
    grid-column-gap: 2.5rem;
    align-items: center;
    justify-content: start;

    &__box {
        grid-area: box;
        width: $boxSize;
        height: $boxSize;
        border-radius: 0.375rem;
    }

    &__title, &__subtitle {
        // display: flex;
        font-size: 1.1875rem;
        line-height: 1.1875rem;
    }

    &__title {
        grid-area: title;
        font-family: 'Montserrat Bold', Arial, sans-serif;
        // align-self: flex-end;
        width: max-content;
    }

    &__subtitle {
        grid-area: subtitle;
        align-self: flex-start;
    }

    &_1 &__box {
        background: $darkShade100;
    }

    &_2 &__box {
        background: $darkShade75;
    }

    &_3 &__box {
        background: $darkShade50;
    }

    &_4 &__box {
        background: $darkShade25;
    }

    &_5 &__box {
        background: $darkShade5;
    }

    &_purple &__box {
        background: $purple;
    }

    &_green &__box {
        background: $green;
    }
}

.tag-example {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    column-gap: 1.9rem;

    &__title {
        text-transform: uppercase;
        color: $darkShade50;
    }

    &__subtitle {
        font-weight: 700;
    }
}

.tag-example_h1 {

    margin-bottom: 0.3125rem;

    .tag-example__subtitle,
    .tag-example__title {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
}

.tag-example_h2 {
    margin-bottom: 0.0625rem;

    .tag-example__subtitle,
    .tag-example__title {
        font-size: 1.1875rem;
        line-height: 1.5rem;
    }

}

.tag-example_h3 {
    font-size: .75rem;
    text-transform: uppercase;
    line-height: .9375rem;

    .tag-example__title {
        color: $darkShade25;
    }
}

.tag-example_p {
    max-width: 23.75rem;
    color: $darkShade50;
}