doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="keywords" content="")
    title="Headers & Footers"
    style 
      include headers-and-footers.css
  body
    a.logo(href="#") 
      img.logo__image(src="../../assets/images/logo.svg", alt="")