include ../__image-slider/__image-slider.pug
include ../__booking-room/__booking-room.pug
include ../../form-elements/__rate-button/__rate-button.pug

mixin createRoomPreview(images, roomNumber, numRating, numFeedbacks)
  .room-preview 
    +createSlideshowContainer(images)
    .room-preview__description
      .room-preview__header 
        +createBookingRoomDescription(roomNumber, "9 990", true)
      .room-preview__footer 
        .room-preview__rating
          +rateButton(numRating)
        .room-preview__feedbacks 
          .room-preview__feedbacks_number= numFeedbacks
          .room-preview__feedbacks_text Отзывов