.header {

  &__section {
    margin-bottom: 2.55rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: "logo menus";
  }

  &__logo {
    grid-area: logo;
  }

  &__burger {
    // display: none;
    font-size: 3rem;
    position: absolute;
    right: 2%;
    top: 0.625rem;
    // appearance: none;
    background: transparent;
    border: none;
    color: $darkShade50;
    user-select: none;
  }

  &__menus {
    grid-area: menus;
  }
}