include ../../form-elements/__buttons/__buttons.pug

mixin createHeader
  .header__section
    .header__logo
      a.logo(href="#")
        img.logo__image(src="../../assets/images/logo.svg" alt="Логотип Toxin")
    button.header__burger
    .header__menus
      ul.header__menu
        li.header__link
          a.header__link.header_bold(href="#") О нас
        li.header__link
          .header__sub-menu
            a.header__link(href="#") Услуги
          .header__dropdown
            a.header__link.header__sub-link(href="#") Завтрак
            a.header__link.header__sub-link(href="#") Обед
            a.header__link.header__sub-link(href="#") Ужин
          span.material-icons expand_more
        li.header__link
          a.header__link.header_bold(href="#") Вакансии
        li.header__link
          a.header__link.header_bold(href="#") Новости
        li.header__link
          .header__sub-menu
            a.header__link(href="#") Соглашения
          .header__dropdown
            a.header__link.header__sub-link(href="#") Соглашение 1
            a.header__link.header__sub-link(href="#") Соглашение 2
            a.header__link.header__sub-link(href="#") Соглашение 3
          span.material-icons expand_more
      .header__login-menu
        a.login__link(href="#")
          +createButton("Войти", "white", "purple", false)
        a.login__link(href="#")
          +createButton("Зарегистрироваться", "purple", "white", false)
  .header__section_logged