@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import '../../assets/libs/_vars';
@import '__dropdown/_dropdown';
@import '__inputs/_inputs';
@import '__pagination/_pagination';
@import '__checkbox/_checkbox';
@import '__radio-buttons/_radio-buttons';
@import '__toggle/_toggle';
@import '__like-buttons/_like-buttons';
@import '__rate-buttons/_rate-buttons';
@import '__range-slider/_range-slider';
@import '__buttons/_buttons';
@import '__expandable-checkbox/_expandable-checkbox';
@import '__rich-checkbox/_rich-checkbox';
@import '__bullet-list/_bullet-list';
@import '__description/_description';
@import '__comment/_comment';
@import '__noUIslider/_noUIslider';

.nav {
  margin-top: 1.9rem;
  margin-left: 1.9rem;
}

.main {
  max-width: 84%;
  margin: 3.85rem 8.9rem;
  // padding: 0 1.6rem;

  &__section {
    display: -ms-grid;
    display: grid;

    .first-column {
      max-width: 20rem;
    }

    .second-column {
      margin-top: 0.5125rem;
      margin-bottom: 1.83rem;
    }

    @import '__grid-templates/_grid-templates';
  }
}