@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$linearGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: "Montserrat", Arial, sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $darkShade25;
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

////* DROPDOWN *////
.dropdown {

  max-width: 20rem;
  width: 100%;

  &-expanded {
    margin-top: 1rem;
  }

  &__title,
  &__subtitle {
    font-size: .75rem;
    text-transform: uppercase;
  }

  &__title {
    font-weight: 700;
    display: inline;
  }

  &__subtitle {
    float: right;
    color: $darkShade50;
  }

  &__box,
  &__input {
    font-size: .875rem;
    color: $darkShade75;
  }

  &__box {
    position: relative;
    margin-top: 0.3125rem;
  }

  &__input {
    width: 100%;
    line-height: 2.625rem;
    padding: 0 2.375rem 0 0.875rem;
    border: 0.0625rem solid $darkShade25;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  &__button {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $darkShade50;
  }

  &__list {

    z-index: 10;
    background: #fff;

    &-shrinked {
      visibility: hidden;
    }

    position: absolute;
    left: 0;
    width: 100%;
    padding: 0.2rem 0.375rem 0.1rem 0.875rem;
    border: 0.0625rem solid $darkShade50;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: 0 0.625rem 1.25rem $darkShade5;

    &-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.42rem;
      list-style: none;

      &__caption {
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $darkShade100;
      }

      &__counter-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 5.75rem;
      }

      &__counter-button-minus,
      &__counter-button-plus {
        // display :inline-block;
        // border: none;
        background: transparent;
        cursor: pointer;
        font-size: 1rem;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        border: 0.0625rem solid $darkShade25;

      }

      &__counter {
        font-size: .75rem;
        font-weight: 700;
        color: $darkShade100;
      }
    }
  }

  &__footer-section {
    display: flex;
    list-style: none;
    line-height: 2.5rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__clear-button-invisible {
    visibility: hidden;
  }

  &__clear-button,
  &__submit-button {
    border: none;
    cursor: pointer;
    font-size: .75rem;
    font-weight: 700;
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 0.6rem;
    background: transparent;

    &__caption {
      color: $purple;
    }
  }

}

.main {
  max-width: 84%;
  margin: 0 auto;
  padding: 0 1.6rem;

  &__section {
    display: -ms-grid;
    display: grid;

    &:first-child {
      grid-template-columns: 27.59% 10.86% 22.45% 11.38% 27.75%;
      // grid-template-columns: repeat(auto-fit, 280px);
      margin-bottom: 5.5rem;

      .first-column {

        .input-default {
          margin-top: 0.3125rem;
          margin-bottom: 1.35rem;
        }

        .input-hover {
          margin-bottom: 1rem;
        }

        .input-masked-field {
          margin-bottom: 2.5rem;
        }

        .input-date-dropdown {
          margin-bottom: 2.55rem;
        }

        .input {
          max-width: 20rem;
          width: 100%;

          &__header {
            display: flex;
            justify-content: space-between;
          }

          &__title {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.7375rem;
            text-transform: uppercase;
          }

          &__subtitle {
            text-transform: uppercase;
            color: $darkShade50;
            font-size: 0.75rem;
            line-height: 0.7375rem;
          }

          &__box {
            margin: 0.45rem auto 0.5rem;
            font-size: 0.875rem;
            width: 100%;
            line-height: 2.625rem;
            padding: 0 2.375rem 0 0.875rem;
            border: 1px solid $darkShade25;
            border-radius: 0.25rem;
            color: $darkShade75;
          }
        }

        .dropdown {
          margin-bottom: 1.5rem;
          max-width: 20rem;
          width: 100%;

          &__title,
          &__subtitle {
            font-size: 0.75rem;
            text-transform: uppercase;
          }

          &__title {
            display: inline;
            font-weight: 700;
          }

          &__subtitle {
            float: right;
            color: $darkShade50;
            // margin-top: 2px;
          }

          &__box {
            position: relative;
            margin-top: 0.3125rem;
            font-size: 0.875rem;

          }

          &__input {
            cursor: pointer;
            width: 100%;
            line-height: 2.625rem;
            padding: 0 2.375rem 0 0.875rem;
            border: 0.0625rem solid rgba(31, 32, 65, .25098);
            border-radius: 0.25rem;
            color: $darkShade75;
          }

          &__input-icon {
            position: absolute;
            top: 0.625rem;
            right: 0.625rem;
            cursor: pointer;
            font-size: 1.5rem;
            border: none;
            background: transparent;
            color: $darkShade50;
          }
        }

        .date-dropdown {
          max-width: 20rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1.25rem;
          row-gap: 0.6rem;
          width: 100%;

          &__title {
            font-size: 0.75rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &__box {
            position: relative;
          }

          &__input {
            padding: 0 2.375rem 0 0.875rem;
            width: 100%;
            line-height: 2.625rem;
            border: 0.0625rem solid $darkShade25;
            border-radius: 0.25rem;
            cursor: pointer;
            margin-top: 0.3125rem;
          }

          &__input-icon {
            position: absolute;
            bottom: 0.6rem;
            right: 0.5rem;
            cursor: pointer;
            font-size: 1.5rem;
            border: none;
            background: transparent;
            color: $darkShade25;
          }
        }

        .filter-date-dropdown {
          margin-bottom: 2.7rem;
          max-width: 16.625rem;

          &__title {
            font-size: 0.75rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &__input {
            padding: 0 2.375rem 0 0.875rem;
            width: 100%;
            line-height: 2.625rem;
            border: 0.0625rem solid rgba(31, 32, 65, 0.25098);
            border-radius: 0.25rem;
            cursor: pointer;
          }

          &__input-icon {
            position: relative;
            bottom: 2rem;
            left: 14.5rem;
            cursor: pointer;
            color: $darkShade50;
          }
        }

        .subscription-field {
          max-width: 20rem;
          width: 100%;

          &__title {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.7375rem;
            text-transform: uppercase;
          }

          &__input-box {
            display: flex;
            position: relative;
            line-height: 2.75rem;
            margin: 0.45rem auto 0.5rem;
          }

          &__input {
            font-size: 0.875rem;
            width: 100%;
            line-height: 2.625rem;
            padding: 0 2.375rem 0 0.875rem;
            border: 1px solid $darkShade25;
            border-radius: 0.25rem;
          }

          &__input-button {
            position: absolute;
            top: 25%;
            right: 0.75rem;
            border: none;
            cursor: pointer;
            background: -moz-$linearGradient;
            background: -webkit-$linearGradient;
            background: $linearGradient;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .second-column {
        margin-top: 0.5125rem;
        margin-bottom: 1.83rem;

        .checkbox {
          width: 100%;
          max-width: 13.875rem;

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: .85rem;
          }

          &__list {
            list-style: none;
          }

          &__list,
          &__item {
            font-size: .875rem;
            padding-bottom: .75rem;
            line-height: 1.125rem;
            color: $darkShade50;
          }

          &__label {
            cursor: pointer;
          }

          // &__list,
          // &__item, &__input {
          //   position: absolute;
          //   appearance: none;
          // }

          // &__list,
          // &__item, &__checkbox {
          //   position: absolute;
          //   width: 1.25rem;
          //   height: 1.25rem;
          //   border: .0625rem solid $darkShade75;
          //   border-radius: .25rem;
          // }

          // .checkbox__list .checkbox__item .checkbox__input:checked+.checkbox__checkbox {
          //   border: 0.0625rem solid $purple;
          //   background: url("https://inconsumable1812.github.io/Toxin/img/vector.svg") no-repeat 50% 38%;
          // }

          &__subtitle {
            display: inline-block;
            padding-left: 1.85rem;
          }
        }

        .radio-buttons {

          $root: '.radio-buttons';

          max-width: 13.8rem;
          width: 100%;
          margin-bottom: 2.7rem;

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 1rem;
          }

          &__subtitle {
            padding-left: 1.85rem;
          }

          &__box {
            display: grid;
            grid-template-columns: repeat(auto-fill, 6.125rem);
            column-gap: 1.25rem;
            row-gap: 0.6rem;

          }

          &__item {
            font-size: .875rem;
            color: $darkShade50;
          }

          &__label {
            cursor: pointer;
          }

          &__input {
            position: absolute;
            appearance: none;
          }

          &__radio {
            position: absolute;
            height: 1.25rem;
            width: 1.25rem;
            border-radius: 50%;
            border: 0.0625rem solid $darkShade25;
          }

          &__input:checked+#{$root}__radio {
            border: 0.0625rem solid $purple;
          }

          &__radio:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            background: $linearGradient;
          }
        }

        .toggle {
          max-width: 16.25rem;
          width: 100%;
          margin-bottom: 2.1rem;

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 0.9rem;
            line-height: .9375rem;
          }

          &__list {
            list-style: none;
          }

          &__item {
            font-size: .875rem;
            line-height: 1.5rem;
            padding-bottom: 0.6rem;
            cursor: pointer;
          }

          &__input {
            position: absolute;
            appearance: none;
          }

          &__checkbox {
            position: absolute;
            height: 1.25rem;
            width: 2.5rem;
            border: 0.0625rem solid $darkShade25;
            border-radius: 0.625rem;
            margin-top: 0.125rem;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0.18rem;
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 0.375rem;
              background: rgba(31, 32, 65, .25098);
            }
          }

          &__subtitle {
            padding-left: 3.05rem;
          }
        }

        .like-buttons {
          margin-bottom: 2.3rem;

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }

          &__box {
            display: flex;
            column-gap: 0.5625rem;
          }

          .like-button {
            width: 2.5rem;
            height: 1.25rem;
            border: 0.0625rem solid $darkShade25;
            border-radius: 0.625rem;
            align-items: center;
            cursor: pointer;
            background: #fff;

            &__icon {
              position: absolute;
              font-size: .625rem;
              color: $darkShade25;
            }

            &__likes {
              font-size: .625rem;
            }

            .material-symbols-outlined {
              font-size: inherit;
              background-image: inherit;
              color: $darkShade25;
              background-clip: inherit;
            }
          }
        }

        .rate-buttons {
          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.1rem;
          }

          &__group {
            display: flex;
            column-gap: 1.11rem;
          }

          &__item {
            font-size: 1.5rem;
            color: transparent;
            background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
            -webkit-background-clip: text;
            background-clip: text;
          }

          .material-symbols-outlined {
            // font-family: Material Icons;
            font-weight: 400;
            font-style: normal;
            // font-size: 1.5rem;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-feature-settings: "liga";
          }
        }
      }

      .third-column {

        .range-slider {
          width: 100%;
          max-width: 16.625rem;
          margin-bottom: 2.6rem;

          &__header {
            display: inline-flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 1.5rem;
          }

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
          }

          &__count {
            display: inline-flex;
            align-items: flex-start;
          }

          &__input-min,
          &__input-max {
            font-size: .75rem;
            color: $darkShade50;
            border: none;
            line-height: .9375rem;
          }

          &__input-min {
            width: 3.3rem;
            text-align: end;
            // outline: 0;
          }

          &__input-max {
            width: 3rem;
            // outline: none;
          }

          &__separator {
            font-size: .75rem;
            vertical-align: text-top;
            margin: 0 0.25rem 0 0.16rem;
            line-height: .9375rem;
          }
        }

        .buttons {
          margin-bottom: 1.5rem;

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.1rem;
          }

          &__first-box,
          &__second-box,
          &__third-box {
            display: grid;
            margin-bottom: 1.9rem;
          }

          &__first-box,
          &__second-box {
            grid-template-columns: repeat(auto-fill, 6.1875rem);
            column-gap: 1.25rem;
          }

          &__third-box {
            grid-template-columns: repeat(auto-fill, 3.8125rem);
            column-gap: 1.3rem;
          }

          &__fourth-box {
            margin-bottom: 2.5rem;
          }

          .button {
            border: none;
            cursor: pointer;
            height: 2.75rem;
            width: 6.1875rem;
            border-radius: 1.375rem;

            &-purple {
              background: $linearGradient;
            }

            &-white {
              background: #fff;
              border: 0.125rem solid $purple;
            }

            &-transparent {
              padding: 0;
              height: auto;
              width: auto;
              background: transparent;
            }

            &-blocked {
              opacity: 0.5;
            }

            &-forward {
              // display: grid;
              // grid-template-columns: 1 fr auto;
              align-items: center;
              max-width: 20rem;
              width: 100%;
              // padding: 0;

              .button__text {
                // grid-column-start: auto;
                // letter-spacing: normal;
                margin-top: 1rem;
              }

              .material-symbols-outlined {
                position: relative;
                font-size: 1.5rem;
                left: 120px;
                color: #fff;
                bottom: 1.2rem;
              }


            }

            &__text {
              font-size: .75rem;
              font-family: Montserrat, Arial, sans-serif;
              font-weight: 700;
              text-transform: uppercase;
              color: $darkShade50;

              &-white {
                color: #fff;
              }

              &-purple {
                color: $purple;
              }
            }
          }
        }

        .pagination {
          max-width: 16.625rem;

          &__title {
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.05rem;
          }

          &__box {
            display: grid;
          }

          .active {
            background: $linearGradient;
            cursor: pointer;
          }

          .next {
            background: linear-gradient(180deg, #6FCF97, #66D2EA);
          }

          &__pages {
            align-items: center;
            margin-bottom: 0.1875rem;

            &-list {
              float: left;
              margin: 0;
              padding: 0;
              list-style: none;
            }

            li:first-child,
            li:last-child {
              border-radius: 50%;
            }

          }

          &__page {
            display: inline-flex;
            width: 2.5rem;
            height: 2.5rem;
            font-size: .75rem;
            justify-content: center;
            align-items: center;
          }

          &__caption {
            justify-self: start;
            margin-top: 0.1rem;
            margin-left: 0.35rem;
            font-size: .875rem;
            color: $darkShade75;
          }

        }
      }
    }

    &:nth-child(2) {
      grid-template-columns: 22.93% 15.6% 27.59% 6.35% 27.59%;
      // grid-template-columns: repeat(auto-fit, 280px);
      margin-bottom: 10.75rem;

      // .dropdown {

      //   max-width: 20rem;
      //   width: 100%;

      //   &-expanded {
      //     margin-top: 1rem;
      //   }

      //   &__title, &__subtitle {
      //     font-size: .75rem;
      //     text-transform: uppercase;
      //   }

      //   &__title {
      //     font-weight: 700;
      //     display: inline;
      //   }

      //   &__subtitle {
      //     float: right;
      //     color: $darkShade50;
      //   }

      //   &__box, &__input {
      //     font-size: .875rem;
      //     color: $darkShade75;
      //   }

      //   &__box {
      //     position: relative;
      //     margin-top: 0.3125rem;
      //   }

      //   &__input {
      //     width: 100%;
      //     line-height: 2.625rem;
      //     padding: 0 2.375rem 0 0.875rem;
      //     border: 0.0625rem solid $darkShade25;
      //     border-radius: 0.25rem;
      //     cursor: pointer;
      //   }

      //   &__button {
      //     position: absolute;
      //     top: 0.625rem;
      //     right: 0.625rem;
      //     border: none;
      //     background: transparent;
      //     cursor: pointer;
      //     color: $darkShade50;
      //   }

      //   &__list {
      //     position: absolute;
      //     left: 0;
      //     width: 100%;
      //     padding: 0.2rem 0.375rem 0.1rem 0.875rem;
      //     border: 0.0625rem solid $darkShade50;
      //     border-radius: 0 0 0.25rem 0.25rem;
      //     box-shadow: 0 0.625rem 1.25rem $darkShade5;

      //     &-item {
      //       display: flex;
      //       flex-flow: row nowrap;
      //       align-items: center;
      //       justify-content: space-between;
      //       margin-bottom: 0.42rem;
      //       list-style: none;

      //       &__caption {
      //         font-size: .75rem;
      //         font-weight: 700;
      //         text-transform: uppercase;
      //         color: $darkShade100;
      //       }

      //       &__counter-box {
      //         display: flex;
      //         justify-content: space-between;
      //         align-items: center;
      //         min-width: 5.75rem;
      //       }

      //       &__counter-button-minus,
      //       &__counter-button-plus {
      //         // display :inline-block;
      //         // border: none;
      //         background: transparent;
      //         cursor: pointer;
      //         font-size: 1rem;
      //         width: 1.875rem;
      //         height: 1.875rem;
      //         border-radius: 50%;
      //         border: 0.0625rem solid $darkShade25;

      //       }

      //       &__counter {
      //         font-size: .75rem;
      //         font-weight: 700;
      //         color: $darkShade100;
      //       }
      //     }
      //   }

      //   &__footer-section {
      //     display: flex;
      //     list-style: none;
      //     line-height: 2.5rem;
      //     justify-content: space-between;
      //     margin-bottom: 1rem;
      //   }

      //   &__clear-button-invisible {
      //     visibility: hidden;
      //   }

      //   &__clear-button,
      //   &__submit-button {
      //     border: none;
      //     cursor: pointer;
      //     font-size: .75rem;
      //     font-weight: 700;
      //     font-family: Montserrat, Arial, sans-serif;
      //     text-transform: uppercase;
      //     margin-top: 0.6rem;
      //     background: transparent;

      //     &__caption {
      //      color: $purple;
      //     }
      //   }

      // }


    }

    &:nth-child(3) {
      grid-template-columns: 23.02% 15.52% 22.83% 11% 25.17%;
      margin-bottom: 0.4rem;

      .expandable-checkbox,
      .expandable-checkbox-expanded {
        position: relative;
        width: 100%;
        max-width: 16.625rem;
        margin-bottom: 3.08rem;
      }

      .expandable-checkbox {

        $root: '.expandable-checkbox';

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }

        &__title {
          font-size: .75rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        &__button {
          color: $darkShade50;
          border: none;
          background: transparent;
          cursor: pointer;
        }

        &__list {
          display: none;
          position: relative;
          list-style: none;
        }

        &__item {
          cursor: pointer;
          padding-bottom: 0.76rem;
          color: $darkShade50;
        }

        &__input {
          position: absolute;
          appearance: none;
        }

        &__checkbox {
          position: absolute;
          width: 1.25rem;
          height: 1.25rem;
          border: 0.0625rem solid $darkShade25;
          border-radius: 0.25rem;

        }

        &__caption {
          margin-left: 1.8rem;
        }

        &__input:checked+#{$root}__checkbox {
          border: 0.0625rem solid $purple;
          background: url('../../assets//images/vector.svg') no-repeat 50% 38%;
        }
      }

      .expandable-checkbox-expanded .expandable-checkbox__list {
        display: block;
      }

      .rich-checkbox {
        width: 100%;
        max-width: 16.625rem;

        &__header {
          font-size: 0.75rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 1.15rem;
        }

        &__list {
          list-style: none;
        }

        &__item {
          display: grid;
          column-gap: 0.625rem;
          row-gap: 0.3125rem;
          grid-template-areas: "input title" ". subtitle";
          padding-bottom: 0.525rem;
          cursor: pointer;
        }

        &__checkbox,
        &__input {
          grid-area: input;
          align-self: center;
          justify-self: center;
        }

        &__input {
          appearance: none;
        }

        &__checkbox {
          height: 1.25rem;
          width: 1.25rem;
          border: 0.0625rem solid $darkShade25;
          border-radius: 0.25rem;
        }

        &__title {
          grid-area: title;
          font-size: .875rem;
          font-weight: 700;
          line-height: 1.125rem;
          color: $darkShade75;
        }

        &__subtitle {
          grid-area: subtitle;
          font-size: .75rem;
          line-height: .875rem;
          color: $darkShade50;
        }
      }

      .bullet-list {
        width: 100%;
        max-width: 16.45rem;

        &__header {
          font-size: .75rem;
          font-weight: 700;
          text-transform: uppercase;
          line-height: .9375rem;
          margin-bottom: 0.85rem;
        }

        &__list {
          list-style: none;
        }

        &__item {
          display: grid;
          padding-bottom: .675rem;
          grid-template-areas: "ellipse caption";
          grid-template-columns: 0.625rem auto;
          column-gap: 0.65rem;
        }

        &__ellipse {
          grid-area: ellipse;
          width: 0.625rem;
          height: 0.625rem;
          background: $darkShade25;
          border-radius: 50%;
          margin-top: 0.4rem;
        }

        &__caption {
          grid-area: caption;
          font-size: .875rem;
          line-height: 1.5rem;
        }
      }

    }

    &:nth-child(4) {
      grid-template-columns: 25.09% 13.45% 61.29%;
      padding-bottom: 8.25rem;

      .description {
        display: grid;
        width: 100%;
        max-width: 18.1875rem;
        grid-template: 1.5rem 1.55rem/3rem auto;
        grid-template-areas: "image title" "image subtitle";
        column-gap: 0.55rem;
        padding-top: 1.3rem;
        padding-bottom: 1.15rem;
        border-bottom: 1px solid $darkShade5;

        &__image {
          grid-area: image;
          color: transparent;
          background: $linearGradient;
          -webkit-background-clip: text;
          background-clip: text;
          font-size: 3rem;
          // font-weight: 700;
        }

        &__title,
        &__subtitle {
          font-size: .875rem;
          color: $darkShade75;
          line-height: 1.5rem;
        }

        &__title {
          grid-area: title;
          font-weight: 700;
        }

        &__subtitle {
          grid-area: subtitle;
        }
      }

      .comment {
        display: grid;
        grid-template-areas: "image author" "likes text";
        grid-template-columns: 3.125rem auto;
        column-gap: 0.5rem;
        row-gap: 0.65rem;

        width: 100%;
        max-width: 44.4375rem;

        &__image {
          grid-area: image;
          justify-self: center;
          align-self: center;
        }

        &__author {
          grid-area: author;
          align-self: center;

          &--name,
          &--date {
            font-size: .875rem;
            line-height: 1.5rem;
            color: $darkShade75;
          }

          &--name {
            font-weight: 700;
          }
        }

        &__likes {
          grid-area: likes;
          justify-self: center;
          margin-top: 0.125rem;

          display: flex;
          border: 0.0625rem solid $purple;
          border-radius: 3.0625rem;
          width: 2.5rem;
          height: 1.25rem;
          background: transparent;

          &--icon,
          &--count {
            position: relative;

            color: $purple;
            font-size: .625rem;
          }

          &--icon {
            top: 4px;
            left: 4px;
          }

          &--count {
            top: 3px;
            left: 10px;
          }
        }

        &__text {
          grid-area: text;
          font-size: .875rem;
          line-height: 1.5rem;
          color: $darkShade75;
        }
      }
    }
  }
}

.noUi {

  &-target {
    box-shadow: none;
    background: transparent;
    border: none;
  }

  &-connects {
    border: 0.063rem solid $darkShade25;
    border-radius: 6.25rem;

    height: 0.375rem;

  }

  &-horizontal &-handle {
    width: 0.75rem;
    height: 0.75rem;
    top: -0.125rem;
    right: -0.625rem;
  }

  &-handle {
    border-radius: 50%;
    background: linear-gradient(#6FCF97 0%, #66D2EA 100%);
  }

  &-touch-area {
    cursor: pointer;
  }

}