@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: 'Montserrat', Arial, sans-serif;
}

.main {
  max-width: 84%;
  margin: 0 auto;
  padding: 0 1.6rem;
  
  &__section {
    
    &:nth-child(1) {
      grid-template-columns: 27.59%, 10.86%, 22.45% 11.38% 27.75%;
      margin-bottom: 5.5rem;
    }
    
    &:nth-child(2) {
      grid-template-columns: 22.93%, 15.6%, 27.59% 6.35% 27.59%;
      margin-bottom: 10.75rem;
    }
    
    &:nth-child(3) {
      grid-template-columns: 23.02%, 15.52%, 22.83% 11% 25.17%;
      margin-bottom: 0.4rem;
    }
    
    display: grid;
  
    .input {
      max-width: 20rem;
      width: 100%;
      
      &__header {
        display: flex;
        justify-content: space-between;
      }
      
      &__title {
        font-size: .75rem;
        font-weight: 700;
        line-height: .7375rem;
      }
      
      &__subtitle {
        text-transform: uppercase;
        color: $darkShade50;
        font-size: .75rem;
        line-height: .7375rem;
      }
      
      &__box {
        margin: 0.45rem auto 0.5rem;
        font-size: .875rem;
        width: 100%;
        line-height: 2.625rem;
        padding: 0 2.375rem 0 0.875rem;
      }
    }
    
    .dropdown {
      max-width: 20rem;
      width: 100%;
  
      &__title, &__subtitle {
        font-size: .75rem;
        text-transform: uppercase;
      }
      
      &__title {
        display: inline;
        font-weight: 700;
      }
      
      &__subtitle {
        float: right;
      }
      
      &__box {
        position: relative;
        margin-top: 0.3125rem;
        font-size: .875rem;
      }
      
      &__input {
        cursor: pointer;
        width: 100%;
        line-height: 2.625rem;
        padding: 0 2.375rem 0 0.875rem;
        border-radius: .25rem;
      }
      
      &__input-icon {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        cursor: pointer;
        font-size: 1.5rem;
        border: none;
        background: transparent;
      }
    }
    
    .dropdown-double {
      max-width: 20rem;
      
      .date-dropdown {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.25rem;
        // row-gap: 0.6rem;
        // max-width: 10rem;
        width: 100%;
        
        &__title {
          font-size: .75rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        
        &__input {
          padding: 0 2.375rem 0 0.875rem;
          width: 100%;
          line-height: 2.625rem;
          border: .0625rem solid rgba(31,32,65,.25098);
          border-radius: .25rem;
          cursor: pointer;
        }
        
        &__input-icon {
          position: relative;
          bottom: 1.3rem;
          left: 9rem;
          cursor: pointer;
          font-size: 1.5rem;
          border: none;
          background: transparent;
        }
      }
    }
    
//     &-column_start {
      
//     }
    
//     &-column_gap {
      
//     }
    
//     &-column_central {
      
//     }
    
//     &-column_end {
      
//     }
  }
}
