mixin createDateDropdown(data)
	.input-date-dropdown
		.date-dropdown
			each value in data
				.date-dropdown__box
					.date-dropdown__title= value[0]
					.date-dropdown__input-box
						input.date-dropdown__input(name="date-dropdown-input" placeholder= value[1] readonly="readonly")
						span.dropdown__input-icon.material-symbols-outlined expand_more