//- mixin createDropdownBeds(data, list)
//- 	.dropdown.dropdown-default
//- 		if ("title" in data)
//- 			.dropdown__title= data["title"]
//- 		if ("subtitle" in data)
//- 			.dropdown__subtitle= data["subtitle"]
//- 		.dropdown__box 
//- 			input.dropdown__input(name="room-picker" placeholder= data["placeholder"] readonly="readonly")
//- 			button.dropdown__button(type="button")
//- 				span.dropdown__icon.material-symbols-outlined
//- 			if ("expanded" in data)
//- 				ul.dropdown__list.dropdown__list-expanded
//- 					each key, item in list
//- 						li.dropdown__list-item.dropdown__list-item
//- 							p.dropdown__list-item__caption= item
//- 							.dropdown__list-item__counter-box 
//- 								button.dropdown__list-item__counter-button-minus -
//- 								p.dropdown__list-item__counter= key
//- 								button.dropdown__list-item__counter-button-plus +