//- .filter-date-dropdown
//- 	p.filter-date-dropdown__title Filter date dropdown
//- 	.filter-date-dropdown__input-box
//- 		input.filter-date-dropdown__input(name="filter-date" placeholder="19 авг - 23 авг" readonly="readonly")
//- 		span.filter-date-dropdown__input-icon.material-symbols-outlined expand_more