.dropdown.dropdown-default 
	.dropdown__title Dropdown
	.dropdown__subtitle Default
	.dropdown__box 
		input.dropdown__input(name="room-picker" placeholder="2 спальни, 2 кровати" readonly="readonly")
		button.dropdown__button(type="button")
			span.dropdown__icon.material-symbols-outlined expand_more