.dropdown 
	.dropdown__title Dropdown 
	.dropdown__box.js-dropdown__box--guest-amount
		input.dropdown__input(name="guest-amount" placeholder="Сколько гостей" readonly="readonly")
		button.dropdown__button(type="button")
			span.dropdown__icon.material-symbols-outlined expand_more
		ul.dropdown__list.dropdown__list-expanded
			li.dropdown__list-item.dropdown__list-item-adults 
				p.dropdown__list-item__caption Взрослые
				.dropdown__list-item__counter-box 
					button.dropdown__list-item__counter-button-minus -
					p.dropdown__list-item__counter 0
					button.dropdown__list-item__counter-button-plus +
			li.dropdown__list-item.dropdown__list-item-children 
				p.dropdown__list-item__caption Дети
				.dropdown__list-item__counter-box 
					button.dropdown__list-item__counter-button-minus -
					p.dropdown__list-item__counter 0
					button.dropdown__list-item__counter-button-plus +
			li.dropdown__list-item.dropdown__list-item-babies
				p.dropdown__list-item__caption Младенцы
				.dropdown__list-item__counter-box 
					button.dropdown__list-item__counter-button-minus -
					p.dropdown__list-item__counter 0
					button.dropdown__list-item__counter-button-plus +
			li.dropdown__footer-section 
				button.dropdown__clear-button.dropdown__clear-button-invisible(type="button")
					span.dropdown__clear-button__caption Очистить
				button.dropdown__submit-button(type="button")
					span.dropdown__submit-button__caption Применить