.rate-button__box 
	span.rate-button__item.material-symbols-outlined star
	span.rate-button__item.material-symbols-outlined star
	span.rate-button__item.material-symbols-outlined star
	span.rate-button__item.material-symbols-outlined star
	span.rate-button__item.material-symbols-outlined star