* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Montserrat, Arial, sans-serif;
}

.nav {
    padding: 1.4rem;
    margin: 0 auto 2.2rem;
}

.main {
    margin: 0 auto;
    max-width: 97%;
    display: grid;
    grid-template-columns: 16.875rem 28rem;
    grid-column-gap: 39.5%;
    &__colors {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1.25rem;
        margin-left: 6.75rem;
    }
    .color {
        display: grid;
        grid-template-areas: "square title" "square subtitle";
        grid-column-gap: 2.5rem;
        align-items: center;
        justify-content: start;
        &__title,
        &__subtitle {
            display: flex;
            font-size: 1.2rem;
            line-height: 1.8125rem;
        }
        &__title {
            grid-area: title;
            text-transform: none;
            align-self: flex-end;
            width: max-content;
        }
        &__subtitle {
            grid-area: subtitle;
            align-self: flex-start;
        }
    }
    .font-100 .color__square,
    .font-75 .color__square,
    .font-50 .color__square,
    .font-25 .color__square,
    .font-5 .color__square,
    .purple .color__square,
    .green .color__square {
        grid-area: square;
        width: 3.9rem;
        height: 3.9rem;
        border-radius: 0.3rem;
    }
    .font-100 .color__square {
        background: #1F2041;
    }
    .font-75 .color__square {
        background: rgba(31, 32, 65, 0.75);
    }
    .font-50 .color__square {
        background: rgba(31, 32, 65, 0.5);
    }
    .font-25 .color__square {
        background: rgba(31, 32, 65, 0.25);
    }
    .font-5 .color__square {
        background: rgba(31, 32, 65, 0.05);
    }
    .purple .color__square {
        background: #BC9CFF;
    }
    .green .color__square {
        background: #6FCF97;
    }
    &__types {
        display: grid;
        align-content: start;
        grid-row-gap: 3rem;
        // .heading {
        //     display: grid;
        //     grid-template-columns: 2.5rem 1fr;
        //     column-gap: 2rem;
        // }
        // .heading_one {
        //     margin-bottom: 0.5rem;
        //     .heading__title {
        //         font-size: 2.4rem;
        //         font-weight: 400;
        //         line-height: 2.926rem;
        //     }
        // }
    }
}