doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="keywords" content="")
    title="Colors & Type"
    style 
      include colors-and-type.css
  body 
    .nav 
      a.logo(href="#") 
        img.logo__image(src="../../assets/images/logo.svg", alt="")
    .main 
      .main__colors 
        .color.font-100 
          .color__square
          h2.color__title Dark Shade 100%
          p.color__subtitle #1F2041
        .color.font-75 
          .color__square
          h2.color__title Dark Shade 75%
          p.color__subtitle #1F2041
        .color.font-50 
          .color__square
          h2.color__title Dark Shade 50%
          p.color__subtitle #1F2041
        .color.font-25 
          .color__square
          h2.color__title Dark Shade 25%
          p.color__subtitle #1F2041
        .color.font-5
          .color__square
          h2.color__title Dark Shade 5%
          p.color__subtitle #1F2041
        .color.purple 
          .color__square
          h2.color__title Purple
          p.color__subtitle #BC9CFF
        .color.green
          .color__square
          h2.color__title Green
          p.color__subtitle #6FCF97
      .main__types
        .heading.heading_one
          p.heading__title H1
          p.heading__subtitle This one is the sub-section or widget title
        .heading.heading_two 
          p.heading__title H2 
          p.heading__subtitle Next one is the item title inside widgets
        .heading.heading_three 
          p.heading__title H3 
          p.heading__subtitle This is a label or CTA text
        .heading.heading_paragraph
          p.heading__title Body
          p.heading__subtitle This is the body text which is used for most of the design, like paragraphs, lists, etc.
    
