mixin createBookingRoomDescription(roomNumber, price, luxe = false)
  .booking-room
    .room-section
      span.room-section__span №
      p.room-section__number= roomNumber
      if (luxe)
        p.room-section__luxe люкс
    .price-section 
      p.price-section__price= `${price}₽`
      p.price-section__per-day в сутки