.booking-room {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
  // margin-left: 1rem;
  // margin-right: 1rem;

  &__price-section {
    display: flex;
    align-items: baseline;
  }

}

.room-section {

  display: flex;
  align-items: baseline;

  @extend .bold;

  &__number {
    font-size: 1.2rem;
    margin-left: 0.2rem;
    margin-right: 0.45rem;
  }

  &__luxe {
    font-size: .75rem;
    text-transform: uppercase;
    color: $purple;
  }

}

.price-section {

  display: flex;
  align-items: baseline;
  // margin-top: 0.5rem;

  &__price,
  &__per-day {
    color: $darkShade50;
  }

  &__price {
    font-size: .875rem;
    margin-right: 0.25rem;
    @extend .bold;
  }

  &__per-day {
    font-size: 0.75rem;
  }
}