.range-slider {
    width: 100%;
    max-width: 16.625rem;
    margin-bottom: 2.6rem;

    &__header {
      display: inline-flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }

    &__title {
      font-size: .75rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__count {
      display: inline-flex;
      align-items: flex-start;
    }

    &__input-min,
    &__input-max {
      font-size: .75rem;
      color: $darkShade50;
      border: none;
      line-height: .9375rem;
    }

    &__input-min {
      width: 3.3rem;
      text-align: end;
      // outline: 0;
    }

    &__input-max {
      width: 3rem;
      // outline: none;
    }

    &__separator {
      font-size: .75rem;
      vertical-align: text-top;
      margin: 0 0.25rem 0 0.16rem;
      line-height: .9375rem;
    }
  }
