.range-slider
	.range-slider__header 
		p.range-slider__title Range slider 
		.range-slider__count 
			input.range-slider__input-min(value="0")
			span.range-slider__separator -
			input.range-slider__input-max(value="16000")