.buttons__box 
	.buttons__first-box 
		button.button.button_purple
			p.button__text.button__text_white click me
		button.button.button_purple.button_blocked
			p.button__text.button__text_white click me
	.buttons__second-box 
		button.button.button_white 
			p.button__text.button__text-purple click me
		button.button.button_white.button_blocked
			p.button__text.button__text_purple click me
	.buttons__third-box 
		button.button.button_transparent 
			p.button__text.button__text_purple click me
		button.button.button_transparent
			p.button__text click me
	.buttons__fourth-box
		button.button.button_purple.button_forward 
			p.button__text.button__text_white Перейти к оплате
			span.material-symbols-outlined arrow_forward