.buttons {
  margin-bottom: 1.5rem;

  &__title {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
  }

  &__first-box,
  &__second-box,
  &__third-box {
    display: grid;
    margin-bottom: 1.9rem;
  }

  &__first-box,
  &__second-box {
    grid-template-columns: repeat(auto-fill, 6.1875rem);
    column-gap: 1.25rem;
  }

  &__third-box {
    grid-template-columns: repeat(auto-fill, 3.8125rem);
    column-gap: 1.3rem;
  }

  &__fourth-box {
    margin-bottom: 2.5rem;
  }

}

.button {
  border: none;
  cursor: pointer;
  height: 2.75rem;
  width: 6.1875rem;
  border-radius: 1.375rem;

  &-purple {
    background: $linearGradient;
  }

  &-white {
    background: #fff;
    border: 0.125rem solid $purple;
  }

  &-transparent {
    padding: 0;
    height: auto;
    width: auto;
    background: transparent;
  }

  &-blocked {
    opacity: 0.5;
  }

  &-forward {
    align-items: center;
    max-width: 20rem;
    width: 100%;

    .button__text {
      margin-top: 0.9rem;
    }

    .material-symbols-outlined {
      position: relative;
      font-size: 1.5rem;
      left: 8.625rem;
      color: #fff;
      bottom: 1.2rem;
    }


  }

  &__text {
    font-size: .75rem;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $darkShade50;

    &-white {
      color: #fff;
    }

    &-purple {
      color: $purple;
    }
  }
}