mixin createButton(colorButton, colorText, blocked)
	- let blockedClass = (blocked) ? `button_blocked` : ``
	- let classes = [`button_${colorButton}`, blockedClass]
	//- if (blocked)
	//- 	classes.push(button_blocked)
	button.button(class= classes)
		p.button__text(class= `button__text_${colorText}`) click me

mixin createProceedButton(text)
	button.button.button_purple.button_forward 
		p.button__text.button__text_white= text
		span.material-symbols-outlined arrow_forward

.buttons__box 
	.buttons__first-box
		+createButton('purple', 'white', false)
		+createButton('purple', 'white', true)
	.buttons__second-box 
		+createButton('white', 'purple', false)
		+createButton('white', 'purple', true)
	.buttons__third-box 
		+createButton('transparent ', 'purple', false)
		+createButton('transparent ', '', false)
	.buttons__fourth-box
		+createProceedButton('Перейти к оплате')