include ../__like-button/__like-button.pug

mixin createCommentSection(image, name, daysString, likes, liked, comment)
	.comment
		img.comment__image(src=`${image}` alt="")
		.comment__author 
			p.comment__author--name= name
			p.comment__author--date= `${daysString} дней назад`
		+likeButtonContent(likes, liked)
		p.comment__text= comment