&:first-child {
    grid-template-columns: 27.59% 0.1% 22.45% 2.2% 27.75%;
    // grid-template-columns: repeat(auto-fit, 280px);
    margin-bottom: 5.5rem;
}

&:nth-child(2) {
    grid-template-columns: 22.93% 4.9% 27.59% 0% 27.59%;
    // grid-template-columns: repeat(auto-fit, 280px);
    margin-bottom: 10.75rem;
}

&:nth-child(3) {
    grid-template-columns: 23.02% 4.8% 22.83% 1.7% 25.17%;
    margin-bottom: 0.4rem;
}

&:nth-child(4) {
    grid-template-columns: 25.09% 2.6% 61.29%;
    padding-bottom: 8.25rem;
}