mixin createSlideshowContainer(images)
  -let index = 1
  .slideshow-container
    each value in images
      .mySlides.fade
        img.slideshow-container__image(src= value[0] alt= value[1])
        -index++
    a.slideshow-container__prev.material-symbols-outlined expand_more
    a.slideshow-container__next.material-symbols-outlined expand_more
    .slideshow-container__dots
      -index= 1
      each value in images
        .span.dot
        -index++