$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);

body {
    background-color: #fff;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 14.8rem 0 12.1rem;
}

.logo {
    margin-right: 24rem;
}

.menu__list {
    display: flex;

    &__item {
        padding-left: 2.2rem;
    }

    &__link {
        color: $darkShade50;

        &--drop-down {
            position: relative;
            padding-right: 20px;
        }
        &--actual {
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            color: $darkShade75;
        }
    }
}

.header__drop-down {
    position: absolute;
    background-color: transparent;
    &__drop-down-servises {
        left: 50px;
        top: -3px;
        margin-right: 20px;
    }
    &__drop-down-agreements {
        left: 90px;
        top: -2px;
        margin-right: 20px;
    }
}

.header__btn {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

// .header__btn-to-come-in {

// }

.header__btn-register {
    margin-right: -18px;
    margin-left: 20px;
    width: 196px;
    height: auto;
}