@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
}

body {
  background: #e5e5e5;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.header {
  background: #fff;
  margin-bottom: 2.55rem;
  padding: 0.8375rem 0;
  
  &__container {
    max-width: 83.8%;
    margin: 0 auto;
    padding: 0 9.1rem;
  }

  &__nav {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: "logo menuGroup";
  }
  
  &__logo {
    grid-area: logo;
  }
  
  &__menu-group {
    display: grid;
    grid-auto-flow: column;
    grid-area: menuGroup;
  }
  
  &__menu {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.3rem;
    align-items: center;
    padding-right: 1.2rem;
  }
  
  &__link-li {
    list-style: none; 
  }
  
  &__link {
    font-size: .875rem;
    color: $darkShade50;
    text-decoration: none;
  }
  
  &__link-bold {
    font-weight: 700;
  }
  
  &__sub-menu {
    position: relative;
    display: grid;
    grid-template-columns: max-content min-content;
    align-items: center;
  }
  
//   &__dropdown {
//     display: none;
//     background: #fff;
//     position: absolute;
//     flex-direction: column;
//     border: 0.0625rem solid rgba(31,32,65,.101961);
//     box-shadow: 0 0.625rem 1.25rem $darkShade5;
//   }

  ///// dropdown ////
  &__dropdown {
    position: absolute;
    // background-color: transparent;
    // &__drop-down-services {
    //     left: 50px;
    //     top: -3px;
    //     margin-right: 20px;
    // }
    // &__drop-down-agreements {
    //     left: 90px;
    //     top: -2px;
    //     margin-right: 20px;
    // }
  }
  
  &__sub-menu-icon {
    cursor: pointer;
    transition: transform .25s ease;
    font-size: 1.5rem;
    height: 22px;
  }
  
  &__sub-menu-icon:hover {
    color: $purple;
  }
  
  &__user-menu{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.25rem;
    align-items: center;
    
    .button {
      cursor: pointer;
      position: relative;
      border-radius: 1.375rem;
      
      &__link {
        text-decoration: none;
      }
      
      &__login-button {
        height: 34px;
        width: 87px;
      }
      
      &__registration-button {
        height: 34px;
        width: 180px;
      }
      
      &__white {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 0.125rem solid $purple;
      }
      
      &__purple {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, $purple, #8ba4f9);
      }
      
      &__text {
        
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        
        &-purple {
          color: $purple;
        }
      
        &-white {
          color: #fff;
        }
        
      }
      
    }
    
  }
}

