.pagination
	p.pagination__title Pagination
	.pagination__box 
		.pagination__pages 
			ul.pagination__pages-list 
				li.pagination__page.active(data-num="1")
					a 1
				li.pagination__page(data-num="2")
					a 2
				li.pagination__page(data-num="3")
					a 3
				li.pagination__page 
					a ... 
				li.pagination__page(data-num="15")
					a 15
				li.pagination__page.next(data-num="2" title="Next page")
					a(href="#") 
						span.material-symbols-outlined arrow_forward
	p.pagination__caption 1 — 12 из 100+ вариантов аренды