doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="keywords" content="")
    title="Colors & Type"
    style 
      include cards.css
  body
    .cards 
      a.cards__logo(href="#") 
          img.logo__image(src="../../assets/images/logo.svg", alt="")
      .cards__main
        .cards__column_first 
          .cards__card
            .cards__room_search
              .cards__room_search__header
                p.cards__room_search__title Найдём номера под ваши пожелания
              .cards__room_search__calendar 
              .cards__room_search__dropdown 
              .cards__room_search__button
          .cards__card
        .cards__column_second 
          .cards__card
          .cards__card
        .cards__column_third
          .cards__card
          .cards__card 
          .cards__card