.room-search {

  &__header {
    padding-bottom: 1.35rem;
    margin-top: 0.1rem;
  }

  &__title {
    @extend .bold;
    font-size: 1.5rem;
    line-height: 1.829rem;
  }

  &__calendar {
    padding-bottom: 1.1rem;
  }

  &__dropdown {
    padding-bottom: 1.1rem;
    margin-top: 0.2rem;

    &__box {
      position: relative;
      margin-top: 0.3125rem;
    }
  }

}