mixin createRadioButton(caption, checked)
	.radio-buttons__item
		label.radio-buttons__label
			input.radio-buttons__input(type="radio" name="gender" checked= checked)
			span.radio-buttons__radio
		span.radio-buttons__caption Мужчина

.radio-buttons
	p.radio-buttons__title Radio Buttons
		.radio-buttons__box
			+createRadioButton(Мужчина, true)
			+createRadioButton(Женщина, false)